<div class="p-4">
  <%= live_redirect("← Back to list",
        to: Routes.workspace_blueprint_path(@socket, :index, @workspace),
        class: "inline-block mb-4 btn"
      ) %>
  <h1 class="font-bold text-xl mb-6">Create blueprint</h1>

  <.form
    let={f}
    for={@changeset}
    id="new_blueprint_form"
    class="flex flex-col w-128"
    phx-throttle="100"
    phx-change="validate"
    phx-submit="create">

    <%= label_line_tag f, :name, "Name" %>
    <%= text_input f, :name, class: "form-fld mb-4", autofocus: true %>

    <%= label_line_tag f, :description, "Description" %>
    <%= textarea f, :description, class: "form-fld mb-4" %>

    <%= submit "Create", class: "btn-default", phx_disable_with: "Creation in progress..." %>
  </.form>
</div>
