<div class="p-4">
  <%= live_redirect("← Back to list",
        to: Routes.user_path(@socket, :index),
        class: "inline-block mb-4 btn"
      ) %>
  <h1 class="font-bold text-xl mb-4">
    User details
    <%= if !@edit do %>
      <span class="text-sm"> (readonly)</span>
    <% end %>
  </h1>

  <%= if @edit_perm do %>
    <div class="flex mb-2 h-8 flex-col items-start">
      <%= if @generated_password do %>
        <div class="flex items-baseline">
          <div class="text-sm mr-2">
            New password:
          </div>
          <div class="bg-cream-100 px-2 border border-gray-200 text-center"
               id="generatedPassword"
               phx-hook="clipboardCopy">
            <%= @generated_password %>
          </div>
          <div class="text-xs mx-2">
            (click to copy)
          </div>
          <button phx-click="hide_generated_password"
                  class="btn-sm">Hide</button>
        </div>
      <% else %>
        <.button
              class="btn-sm mr-4"
              id="generate_password"
              click="generate_password"
              label="Regenerate password"
              confirm />
      <% end %>
    </div>

    <div class="flex mb-4">
      <%= component(&button/1,
            class: "btn-sm mr-4",
            id: "toggle_active",
            click: "toggle_active",
            label: (if @user_role.active do "Deactivate" else "Activate" end),
            confirm: true
      ) %>
    </div>
    <%= if @user.totp_secret do %>
      <div>Reset TOTP (user will be prompted on next login)</div>
      <.button
            class="btn-sm mr-4"
            id="reset_totp"
            click="reset_totp"
            label="Reset TOTP"
            confirm />
    <% else %>
      <div>User TOTP is NOT active.</div>
    <% end %>
  <% else %>
    <%= if @user.totp_secret do %>
      <div>User TOTP is active.</div>
    <% else %>
      <div>User TOTP is NOT active.</div>
    <% end %>
  <% end %>

  <h2 class="font-bold text-lg mb-3 mt-6">Profile</h2>

  <.form
    let={f}
    for={@changeset}
    id="edit_user_form"
    class="flex flex-col w-96"
    phx-throttle="100"
    phx-change="validate"
    phx-submit="update">

    <%= label_line_tag f, :name, "Full name" %>
    <%= text_input f, :name, class: "form-fld mb-4", autofocus: true, disabled: !@edit %>

    <%= label_line_tag f, :email, "Email address" %>
    <%= text_input f, :email, class: "form-fld mb-4", disabled: !@edit %>

    <%= label_line_tag f, :phone, "Phone number" %>
    <%= text_input f, :phone, class: "form-fld mb-4", disabled: !@edit %>

    <%= label_line_tag f, :description, "Description" %>
    <%= textarea f, :description, class: "form-fld mb-4", disabled: !@edit %>

    <%= if @edit do %>
      <%= submit "Update", class: "btn-default", phx_disable_with: "Update in progress..." %>
    <% end %>

  </.form>


  <%#
    ----- Super admin permission ----
  %>

  <h2 class="font-bold text-lg mb-3 mt-6">Permissions</h2>
  <div class="flex flex-col items-start">
    <div class="font-bold text-sm mb-2">Should this user have all permissions?</div>
    <div class="text-sm my-2">
      <span class="font-bold text-red-600">Warning:</span>
      the super admin permission is global and should only be given to trusted user
      accounts.
    </div>
    <div class="grid grid-cols-2 border items-stretch">
      <div class="uppercase text-gray-600 p-1 text-center col-start-2 bg-gray-100">
        Super admin
      </div>
      <div class="font-bold text-gray-600 px-4 text-right flex items-center justify-end">
        All workspaces
      </div>
      <.live_component
        id="permision_line.global.super_admin"
        module={PermissionToggleComponent}
        role={@user_role}
        readonly={!@edit_perm}
        scope={:global}
        action={:super_admin}
        />
    </div>
  </div>

  <%= if not has?(@user_role, :super_admin) do %>

  <%#
    ----- Per workspace permissions ----
  %>

  <div class="flex flex-col items-start">
    <h3 class="font-bold mb-3 mt-6">Workspace permissions</h3>

    <.live_component
      id="search_workspaces"
      module={InlineSearchComponent}
      results={@workspace_results}
      placholder="workspace name or id"
      label="Search workspace"
      button_label="Add workspace"
      action="search_workspaces"
    >
      <:result let={ws}>
        <div class="border-b flex items-baseline">
          <div class="flex-grow py-2 mr-2">
            #<%= ws.id %>: <%= tr(ws.name, 32) %>
          </div>
          <button phx-value-id={ws.id} phx-click="define_workspace_permission"
                  class="btn">
            Define permissions
          </button>
        </div>
      </:result>
    </.live_component>

    <%= case @user_role.workspace_permissions do %>
      <% [_|_] = perms -> %>
        <div class="grid grid-cols-12 border items-stretch w-256">
          <div class="uppercase text-sm text-gray-600 p-1 text-center col-start-4 col-span-2 bg-gray-100">
            Read portals
          </div>
          <div class="uppercase text-sm text-gray-600 p-1 text-center bg-gray-100 col-span-2">
            Write portals
          </div>
          <div class="uppercase text-sm text-gray-600 p-1 text-center bg-gray-100 col-span-2">
            Read blueprints
          </div>
          <div class="uppercase text-sm text-gray-600 p-1 text-center bg-gray-100 col-span-2">
            Write blueprints
          </div>
          <div class=""></div>
          <%= for perm <- perms do %>
            <div class="font-bold text-gray-600 px-4 text-right flex items-center justify-end text-sm col-span-3">
              #<%= perm.workspace_id %>: <%= tr(perm.workspace.name, 32) %>
            </div>
            <.live_component
              id={"permision_line.ws.#{perm.workspace.id}.read_portals"}
              class="col-span-2"
              module={PermissionToggleComponent}
              role={@user_role}
              readonly={!@edit_perm}
              scope={perm.workspace}
              action={:read_portals}
              />
            <.live_component
              id={"permision_line.ws.#{perm.workspace.id}.write_portals"}
              class="col-span-2"
              module={PermissionToggleComponent}
              role={@user_role}
              readonly={!@edit_perm}
              scope={perm.workspace}
              action={:write_portals}
              />
            <.live_component
              id={"permision_line.ws.#{perm.workspace.id}.read_blueprints"}
              class="col-span-2"
              module={PermissionToggleComponent}
              role={@user_role}
              readonly={!@edit_perm}
              scope={perm.workspace}
              action={:read_blueprints}
              />
            <.live_component
              id={"permision_line.ws.#{perm.workspace.id}.write_blueprints"}
              class="col-span-2"
              module={PermissionToggleComponent}
              role={@user_role}
              readonly={!@edit_perm}
              scope={perm.workspace}
              action={:write_blueprints}
              />
            <div class="flex justify-center items-center">
              <.button
                    class="btn-sm"
                    id={"delete_workspace_permission_#{perm.id}"}
                    values={%{id: perm.id}}
                    click="delete_workspace_permission"
                    label="Delete"
                    confirm />
            </div>
          <% end %>
        </div>
      <% _ -> %>
        <div>This user has no workspace specific permission yet.</div>
    <% end %>
  </div>

  <%#
    ----- Per blueprint permissions ----
  %>
  <div class="flex flex-col items-start">
    <h3 class="font-bold mb-3 mt-6">Blueprint permissions</h3>

    <.live_component
      id="search_blueprints"
      module={InlineSearchComponent}
      results={@blueprint_results}
      placholder="blueprint name or id"
      label="Search blueprint"
      button_label="Add blueprint"
      action="search_blueprints"
    >
      <:result let={ws}>
        <div class="border-b flex items-baseline">
          <div class="flex-grow py-2 mr-2">
            #<%= ws.id %>: <%= tr(ws.name, 32) %>
          </div>
          <button phx-value-id={ws.id} phx-click="define_blueprint_permission"
                  class="btn">
            Define permissions
          </button>
        </div>
      </:result>
    </.live_component>

    <%= case @user_role.blueprint_permissions do %>
      <% [_|_] = perms -> %>
        <div class="grid grid-cols-8 border items-stretch w-128">
          <div class="uppercase text-sm text-gray-600 p-1 text-center col-start-4 col-span-2 bg-gray-100">
            Read
          </div>
          <div class="uppercase text-sm text-gray-600 p-1 text-center bg-gray-100 col-span-2">
            Write
          </div>
          <div class=""></div>
          <%= for perm <- perms do %>
            <div class="font-bold text-gray-600 px-4 text-right flex items-center justify-end text-sm col-span-3">
              #<%= perm.blueprint_id %>: <%= tr(perm.blueprint.name, 32) %>
            </div>
            <.live_component
              id={"permision_line.br.#{perm.blueprint.id}.read"}
              class="col-span-2"
              module={PermissionToggleComponent}
              role={@user_role}
              readonly={!@edit_perm}
              scope={perm.blueprint}
              action={:read}
              />
            <.live_component
              id={"permision_line.br.#{perm.blueprint.id}.write"}
              class="col-span-2"
              module={PermissionToggleComponent}
              role={@user_role}
              readonly={!@edit_perm}
              scope={perm.blueprint}
              action={:write}
              />
            <div class="flex justify-center items-center">
              <.button
                    class="btn-sm"
                    id={"delete_blueprint_permission_#{perm.id}"}
                    values={%{id: perm.id}}
                    click="delete_blueprint_permission"
                    label="Delete"
                    confirm />
            </div>
          <% end %>
        </div>
      <% _ -> %>
        <div>This user has no blueprint specific permission yet.</div>
    <% end %>
  </div>
  <% end %>

  <h2 class="font-bold text-lg mb-3 mt-6">Sessions</h2>

  <%= case @user_role.sessions do %>
    <% [_|_] = sessions -> %>
      <%= for s <- sessions do %>
        <div class="border-b flex w-96 py-1">
          <div class="flex flex-grow flex-col">
            <div phx-update="ignore">Active <%= format_date(s.last_active_at) %></div>
            <div phx-update="ignore">Created <%= format_date(s.inserted_at) %></div>
            <div class="italic text-sm"><%= s.remote_ip %></div>
          </div>
          <div>
            <%= if !VacEngine.Account.Session.expired?(s) and @edit_perm do %>
              <%= component(&button/1,
                    class: "btn-sm",
                    id: "revoke_session_#{s.id}",
                    click: "revoke_session",
                    label: "Revoke",
                    values: %{id: s.id}
              ) %>
            <% end %>
            <%= if VacEngine.Account.Session.expired?(s) do %>
              <div class="font-bold">Expired</div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% _ -> %>
      <div>This user has not opened any session yet.</div>
  <% end %>
  <div class="mb-6"></div>
</div>

