<div class="p-4">
  <%= live_redirect("← Back to list",
        to: Routes.user_path(@socket, :index),
        class: "inline-block mb-4 btn"
      ) %>
  <h1 class="font-bold text-xl mb-6">Create user</h1>

  <.form
    let={f}
    for={@changeset}
    id="new_user_form"
    class="flex flex-col w-128"
    phx-throttle="100"
    phx-change="validate"
    phx-submit="create">

    <%= label_line_tag f, :name, "Full name" %>
    <%= text_input f, :name, class: "form-fld mb-4", autofocus: true %>

    <%= label_line_tag f, :email, "Email address" %>
    <%= text_input f, :email, class: "form-fld mb-4" %>

    <%= label_line_tag f, :phone, "Phone number" %>
    <%= text_input f, :phone, class: "form-fld mb-4" %>

    <%= label_line_tag f, :description, "Description" %>
    <%= textarea f, :description, class: "form-fld mb-4" %>

    <%= submit "Create", class: "btn-default", phx_disable_with: "Creation in progress..." %>
  </.form>
</div>
