  <div class="flex min-h-0 px-4">
    <div class="flex-grow flex flex-col overflow-y-auto mt-3">
      <div class="flex-shrink text-xs">
        <VariableList.render variables={@variables} />
    </div>
  </div>
</div>
