<div class="relative flex-grow">
  <div class="absolute inset-0 flex min-h-0">
    <div class="flex-grow flex flex-col overflow-y-auto">
      <div class="flex-shrink text-xs">
        <VariableList.render variables={@variables} />
      </div>
    </div>
  </div>
</div>
