<div id="deduction_list">
  <%= for deduction <- @deductions do %>
    <.live_component
         id={"deduction.#{deduction.id}"}
         module={DeductionComponent}
         deduction={deduction}
         selection={@selection}
    />
  <% end %>
</div>
