<div id="deduction_list" class="pr-4 text-xs flex flex-col min-w-min items-start">
  <%= for deduction <- @deductions do %>
    <.live_component
         id={"deduction.#{deduction.id}"}
         module={DeductionComponent}
         deduction={deduction}
         readonly={@readonly}
         selection={@selection}
    />
  <% end %>
</div>
