<div class={@row_class} phx-click="select" phx-target={@myself}>
  <div class="px-1 whitespace-nowrap">
    <span class="font-mono leading-none">
      <%= @indentation %>
    </span>
    <span>
      <%= @name %>
    </span>
  </div>
  <div class="px-1">
    <%= @type %><%= @required %>
  </div>
  <div class="px-1">
    <%= @enum %>
  </div>
  <div class="px-1">
    <%= @default_value %>
  </div>
  <div class="px-1">
    <%= @description %>
  </div>
</div>
