<!DOCTYPE html>
<html lang="en" class="flex flex-col min-h-full h-full min-w-full w-full">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>VacEngine</title>

    <link href="/assets/css/app.css" rel="stylesheet" />
  </head>
  <body class="bg-cream-50 flex flex-col min-h-full h-full min-w-full w-full">
    <main class="flex flex-grow text-cream-900">
      <div class="self-center flex flex-col flex-grow items-center p-4">
        <div class="text-2xl mb-2 font-bold max-w-lg text-center">
          Page not found
        </div>
        <svg height="300px" width="300px" viewBox="0 0 100 100">
          <use href="/icons/not_found.svg#icon"></use>
        </svg>
        <div class="text-xl max-w-lg text-center">
          The page you are trying to access does not exist.
        </div>
      </div>
    </main>
  </body>
</html>
