<.header role={Map.get(assigns, :role)}
  workspaces={Map.get(assigns, :workspaces)}
  workspace={Map.get(assigns, :workspace)}
  blueprint={Map.get(assigns, :blueprint)}
  location={Map.get(assigns, :location)}
/>
<main class="flex flex-grow bg-cream-50 text-cream-900 min-h-0">
  <%= @inner_content %>
</main>

