<header class="flex font-bold bg-gray-50 h-8 flex-shrink-0 flex-grow-0 shadow-sm z-10">
  <nav class="px-1 flex flex-grow">
    <div class="flex items-center bg-gray-500 p-1 text-gray-50">Home</div>
    <div class="flex-grow"></div>
    <div class="flex items-center p-1">Logout</div>
  </nav>
</header>
