<div class="flex min-h-0">
  <div class="flex-grow flex flex-col overflow-y-auto">
    <div class="flex-shrink text-xs">
      <DeductionList.render deductions={@deductions} />
    </div>
  </div>
  <br/>
</div>
