<div class="flex min-h-0 px-4">
  <div class="flex-grow flex flex-col overflow-y-auto mt-3">
    <div class="flex-shrink text-xs">
      <.deduction_list deductions_with_path={@deductions_with_path} selection_path={@selection_path} />
    </div>
  </div>
  <br/>
</div>