@tailwind base;
@tailwind components;
@tailwind utilities;

textarea, input, select, button {
  border-radius: 0;
  appearance: none;
}

select {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'><path fill-rule='evenod' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z' clip-rule='evenodd' /></svg>");
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: right .4rem top 0.3rem;
  padding-right: 1.5rem;
}

select.form-fld-sm {
  background-position: right .1rem top 0.1rem;
  background-size: 1.25rem;
}

svg * {
  fill: currentColor;
}


.loading-show {
  display: none;
}

.phx-submit-loading .loading-show {
  display: flex;
}

.phx-submit-loading .loading-hide {
  display: none;
}

.btn {
  @apply px-2 py-1 bg-cream-400 text-gray-50 font-bold;
  &:not(:disabled):hover {
    @apply bg-gray-600;
  }
  &[disabled] {
    @apply bg-cream-200;
  }
}

.btn-sm {
  @apply px-2 py-1 bg-cream-400 text-gray-50 text-sm;
  &:not(:disabled):hover {
    @apply bg-gray-600;
  }
}

.btn-default {
  @apply px-2 py-1 bg-blue-600 text-gray-50 font-bold;
  &:not(:disabled):hover {
    @apply bg-gray-600;
  }
}

.btn-cancel {
  @apply px-2 py-1 bg-cream-200 text-gray-800 font-bold;

  &:not(:disabled):hover {
    @apply bg-gray-600 text-gray-50;
  }
}

.link {
  @apply text-blue-600 no-underline;

  &:hover {
    @apply text-blue-900 underline;
  }
}

.form-fld {
  @apply py-1 px-2;
}

.form-fld, .form-fld-sm {
  @apply
    px-1
    border shadow-inner
    bg-blue-50 border-blue-600 text-black;

  &:focus:not([disabled]) {
    @apply outline-blue-600 outline outline-2 border-blue-400;
  }
  &[disabled] {
    @apply bg-cream-100 border-cream-600;
  }
  &[disabled]:focus {
    @apply outline-cream-600 outline outline-2;
  }
}

.code-fld {
  @apply
    px-2 py-1
    text-3xl text-center
    border shadow-inner
    bg-blue-50 border-blue-600 text-black;

  font-variant-numeric: tabular-nums lining-nums;
  width: 8em;

  &:focus {
    @apply outline-blue-500 outline-2 border-blue-400;
  }
}

.pseudo-txt-fld {
  cursor:text
}

input.form-fld {
  @apply h-8;
}

input.form-fld-sm {
  @apply h-6;
}

select.form-fld {
  @apply pr-10 h-8;
}

select.form-fld-sm {
  @apply pr-10 h-6;
}

textarea.form-fld {
  @apply h-32 resize-none;
}

progress::-moz-progress-bar {
  @apply bg-blue-600;
}

progress::-webkit-progress-value {
  @apply bg-blue-600;
}

.disabled {
  border-width: 0 !important;
}

.form-ckb {
  @apply relative border bg-cream-100 w-20 h-8 border-cream-600;
  &:after {
    @apply absolute left-0 w-1/2 top-0 bottom-0 font-bold bg-cream-600 pt-1
    text-center text-cream-50;
    content: "No";
  }
}

.form-ckb:checked {
  @apply bg-blue-100 border-blue-600;
  &:after {
    @apply absolute left-1/2 right-0 top-0 bottom-0 font-bold bg-blue-500 pt-1 text-center text-blue-50;
    content: "Yes";
  }
}

.divide-black .form-ckb {
  @apply border-cream-900;
}

.divide-black .form-ckb:checked {
  @apply border-blue-900;
}
