
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

textarea, input, select, button {
  border-radius: 0;
  appearance: none;
}

select {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'><path fill-rule='evenod' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z' clip-rule='evenodd' /></svg>");
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: right .4rem top 0.3rem;
  padding-right: 1.5rem;
}

svg * {
  fill: currentColor;
}


.loading-show {
  display: none;
}

.phx-submit-loading .loading-show {
  display: flex;
}

.phx-submit-loading .loading-hide {
  display: none;
}

.btn {
  @apply px-2 py-1 bg-cream-400 text-gray-50 font-bold;
  &:hover {
    @apply bg-gray-600;
  }
}

.btn-sm {
  @apply px-2 py-1 bg-cream-400 text-gray-50 text-sm;
  &:hover {
    @apply bg-gray-600;
  }
}

.btn-default {
  @apply px-2 py-1 bg-blue-600 text-gray-50 font-bold;
  &:hover {
    @apply bg-gray-600;
  }
}

.btn-cancel {
  @apply px-2 py-1 bg-cream-200 text-gray-800 font-bold;
  &:hover {
    @apply bg-gray-600 text-gray-50;
  }
}

.form-fld {
  @apply
    px-2 py-1
    border shadow-inner
    bg-blue-50 border-blue-600 text-black;

  &:focus:not([readonly]) {
    @apply outline-blue;
  }
  &[readonly]:focus {
    @apply outline-cream;
  }
}

.pseudo-txt-fld {
  cursor:text
}

input.form-fld {
  @apply h-8;
}

select.form-fld {
  @apply
    pr-10;
}

textarea.form-fld {
  @apply h-32 resize-none;
}

.listing-table {
  @apply border-2 py-1 px-2 border-gray-150;

  td, th {
    @apply px-2 py-1 border border-gray-200;
  }
  th {
    @apply bg-gray-150;
  }
  tr:nth-child(2n) {
    @apply bg-gray-100;
  }
  tr:nth-child(2n+1) {
    @apply bg-gray-50;
  }
}

.permissions-table {
  @apply listing-table;

  td:first-child {
    @apply font-bold text-right;
  }
}

progress::-moz-progress-bar {
  @apply bg-blue-600;
}

progress::-webkit-progress-value {
  @apply bg-blue-600;
}

.disabled {
  border-width: 0 !important;
}
