<div class="m-3">
  <div class="text-2xl font-bold mb-4">Configuration</div>
  <div class="h-4" />
  <div>Day of simulation</div>
    <%# <.form
      let={f}
      for={@changeset}
      id="day_of_simulation"
      phx-throttle="100"
      phx-change="validate"
      phx-submit="submit"
      class="flex flex-col w-full">
      text_input f, :simulation_date
    </.form> %>
  <.date_input value="2021-11-15" />
</div>

