<div  class={"#{if @selected do " bg-blue-50" end}"}>
  <%= if @has_mismatch  do %>
    <div class="inline-block align-top text-red-500">
      <.icon name="hero/exclamation-circle" width="1.5rem" />
    </div>
  <% else %>
    <div class="inline-block align-top text-green-600">
      <.icon name="hero/check-circle" width="1.5rem" />
    </div>
  <% end %>
  <div class="inline-block link"
    phx-click={"select_item"}
    phx-target={@myself}
  >
    <%= @stack_name %>
  </div>
</div>



