<div class="w-full bg-white border shadow p-3 cursor-default">
  <div class="font-bold mb-2 border-b border-black">
    Simulation
  </div>
  <div class="link flex"
    phx-click={"select_config"}
    phx-target={@myself}
  >
    <div class="inline-block">
      <.icon name="hero/cog" width="1.25rem" />
    </div>
    Configuration
  </div>
</div>

