<div>
    <.form
        let={f}
        for={@changeset}
        phx-target={@myself}
        as="layer"
        phx-change="set_template"
    >
        <div class="font-bold">Template</div>
        <%= select f,
            :case_id,
            [{"<None>", nil} | @template_names |> Enum.map(fn {id, name} -> {name, id} end)],
            class: "form-fld text-sm w-48" %>
    </.form>
</div>