<div class="text-xs border p-2 flex my-1 items-center">
  <div class="pr-2">
    <%= case @status do %>
    <% :idle -> %>
      <div class="text-blue-500">
        <.icon name="hero/clock" width="20px" />
      </div>
    <% :running -> %>
      <div class="text-orange-500">
        <.icon name="hero/refresh" width="20px" />
      </div>
    <% :ok -> %>
      <div class="text-green-600">
        <.icon name="hero/check-circle" width="20px" />
      </div>
    <% :error -> %>
      <div class="text-red-600">
        <.icon name="hero/exclamation-circle" width="20px" />
      </div>
    <% end %>
  </div>
  <div class="flex flex-col flex-grow">
    <%= for l <- @stack.layers do %>
      <div>
        <%= l.case.name %>
      </div>
    <% end %>
  </div>
  <button class="btn text-base"
          phx-target={@myself}
          phx-click="run"
          disabled={@status == :running}>
    Run test
  </button>
</div>
